{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
<body>

<div class="login">
      <form method="POST">
        <h2 align="center">Login</h2>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <br />
        <div class="d-flex justify-content-center"">
        <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
      </form>
</div>
<second-part>
<div class="container-houses">
    <div class="row">
      <div class="col-sm">
        <h1>Find Your Perfect House </h1>
        <h4>1. Create Your Account </h4>
        <h4>2. Tell us about your ideal house  </h4>
        <h4 class="last-point">3. Swipe right on houses you love </h4>
        <div class="d-flex justify-content-center"">
          <a href="sign-up">
          <button type="submit" class="btn btn-primary">SIGN UP </button></a>
        </div>
      </div>
      <div class="col-sm">
        <img src="/static/pictures/abbilyn-zavgorodniaia-uOYak90r4L0-unsplash.jpg" class="thumbnail" alt="house">
      </div>
      <div class="w-100"></div>
      <div class="col-sm"><img src="/static/pictures/ksenia-balandina-RCF5KSWb7Ms-unsplash.jpg"  class="thumbnail" alt="house"></div>
      <div class="col-sm">
        <h3></h3>
      </div>
      <div class="w-100"></div>
      <div class="col-sm">
        <h3></h3>
      </div>
      <div class="col-sm"><img src="/static/pictures/naomi-ellsworth-EMPLSuvDuhQ-unsplash.jpg" class="thumbnail" alt="house"></div>
    </div>
</div>
</second-part>

  </body>
    {% endblock %}