body{
  background-color: #fff;
}
header{
  box-sizing: border-box;
  font-family: 'Cormorant SC', serif;
  color:black;
}
.bg-light {
  background: transparent;
  padding: 0;
  width: 100%;
}
nav{
  width: 100%;
  display: flex;
  
}
nav{
  font-size: 20px;
  font-weight: 900;
  margin:10px;
  padding: 10px 0 10px;
}
#home{
  padding: 15px;
  color:white;
  font-weight: bolder;
}
#favourites{
  padding:15px;
  color:white;
  font-weight: bolder;
}
#login{
  padding:15px;
  color:white;
  font-weight: bolder;
}
#logout{
  padding:15px;
  color:white;
  font-weight: bolder;
}
#signup{
  padding:15px;
  color:white;
  font-weight: bolder;
}
#account{
  padding:15px;
  color:white;
  font-weight: bolder;
}


